<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="container">
    	<div class="row">

			<p id="demo"></p>

		<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    </div>
</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

<script type="text/javascript">
	var abs = [];
	var doc_length = <%= col_length_abs%>;
	<% for (var i = 1; i < col_length_abs+1; i++) { 
				%> abs.push(<%= sims_abs[i-1] %>);<%
            } %>

	var mh = [];
	<% for (var i = 1; i < col_length_abs+1; i++) { 
				%> mh.push(<%= sims_mh[i-1] %>);<%
            } %>

	var no_doc = [];

	for (var i = 0; i < doc_length; i++) {
		no_doc.push("Doc "+i);
	}
	

	Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Cosine Similarity NLM - MEDLINE/PubMed Data'
    },
    subtitle: {
        text: 'Document 2 vs other Documents'
    },
    xAxis: {
        categories: no_doc,
        crosshair: true
    },
    yAxis: {
        min: 0,
        max: 0.3,
        title: {
            text: 'Cosine Similarity'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.8f} mm</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Abstract',
        data: abs

    }, {
        name: 'Mesh Heading',
        data: mh

    }]
});
</script>
<!-- /container -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#about').addClass("active");
		});
	</script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</body>
</html>