<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
		<table>
		   <tr>
		      <th>D</th><th>D</th>
		   </tr>

		   <% for (var i = 0; i < cos_sim_all.length; i++) { %>
		    <tr>
		      <td>D<%= i+1 %></td>
		      <td><%= cos_sim_all[i] %></td>
		    </tr>    
		   <% } %>
		</table>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>