<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>

<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
    	<h5>
		<table border="1">
			<tr>
				<td><b>Docs</b></td>
				<td><b>Doc 2</b></td>
			</tr>
		   <% for (var i = 1; i < col_length+1; i++) { %>
		   		<tr>
				   			<td><b>Doc <%= i-1 %></b></td>
				   			<td>
				   				<%= sims[i-1] %>
				   			</td>
			   </tr>
		   <% } %>
		</table>
		</h5>
	</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

<!-- /container -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#about').addClass("active");
		});
	</script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>